#Put me in /lib/systemd/system/
[Unit]
Description=A GarrysMod Server
After=network.target

[Service]
Type=simple
User={{ gmod_user.name }}
WorkingDirectory={{ gmod_user.home }}/gmodds
ExecStart=/bin/bash {{ gmod_user.home }}/gmodds/srcds_run -console -game garrysmod +maxplayers 16 +map ttt_clue_se.bsp +gamemode terrortown +host_workshop_collection {{ gmod_workshop_collection }}
Restart=on-failure

[Install]
WantedBy=multi-user.target