Hostname "Mike's GarrysMod Server"
Sv_password "mikesarfaty"

ttt_preptime_seconds 20
ttt_posttime_seconds 10
ttt_round_limit 6

ttt_traitor_pct .25
ttt_detective_pct .25
ttt_detective_max 1

ttt_locational_voice 1
ttt_voice_drain 1
ttt_voice_drain_normal .2
ttt_voice_drain_admin .2
ttt_voice_drain_recharge .05

ttt_dyingshot 1

ttt_karma 1
ttt_karma_starting 1000
ttt_karma_max 1100

ttt_karma_ratio 0.0015
ttt_karma_round_increment 5
ttt_karma_clean_bonus 30


ttt_karma_low_autokick 0
ttt_karma_low_ban 0
ttt_karma_persist 1
ttt_karma_traitorkill_bonus 40
ttt_karma_traitordmg_ratio 0.0003
ttt_karma_round_increment 5

ttt_credits_starting 2
ttt_credits_award_pct .35
ttt_credits_award_size 1
ttt_credits_award_repeat 1
ttt_credits_detectivekill 0

ttt_det_credits_starting 2
ttt_det_credits_traitorkill 1
ttt_det_credits_traitordead 0

ttt_namechange_kick 1
ttt_namechange_bantime 0
ttt_ban_type ulx