stream {
    log_format basic '$remote_addr [$time_local] '
                     '$protocol $status $bytes_sent $bytes_received '
                     '$session_time';

    access_log  /var/log/nginx/{{ item.name }}.access.log basic;
    error_log  /var/log/nginx/{{ item.name}}.error.log debug;

    upstream {{ item.name }} {
        server localhost:{{ item.internal_port }};
    }

    server {
        listen {{ item.internet_port }};
        proxy_pass {{ item.name }};
    }
}